body {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header {
  width: 90%;
  background: rgba(255,255,255,0.8);
  color: #781800;
  z-index: 1;
  padding-left: 10%;
  padding-top: 3px;
  padding-bottom: 5px;  
  height: 2em;
  display: none;
  position: fixed;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.6);
}

header h1 {
  float: left;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #781800;
}

header a:hover {
  color: #4878A8;
}

header nav {
  text-indent: 5em;
  padding-top: 0.3em;
}

#zero_block {
	color:black;
	background-color:white;
	width:100%;
	height:200px;
	padding-bottom:0px;
}

#first_block {
	color:#A8D8F0;
	background-color:#4878A8;
	width:100%;
}

#first_block img {
    vertical-align: bottom
}

#second_block img {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#second_block {
	color:#4878A8;
	background-color:#A8D8F0;
	width:100%;
}