body {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header {
  width: 90%;
  background: white;
  z-index: 1;
  padding-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;  
  border-bottom: 1px solid #eee;
  height: 2em;
  display: none;
  position: fixed;
}

header h1 {
  float: left;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

header a {
  text-decoration: none;
}

header nav {
  text-indent: 5em;
  padding-top: 0.3em;
}

#zero_block {
	color:black;
	background-color:white;
	width:100%;
	height:300px;
	padding-bottom:0px;
}

#first_block {
	color:#A8D8F0;
	background-color:#4878A8;
	width:100%;
}
#first_block img, #second_block img{
    vertical-align: bottom
}
#second_block {
	color:#4878A8;
	background-color:#A8D8F0;
	width:100%;
}