table {
  border-collapse: collapse;
}
table tbody {
  border-top: 1em solid transparent;
}

th, td {
    text-align: center;
}

td input {
    width: 100%;
}

.package-table {
}

.package-table .odd {
    background: #fafaff;
}

.package-table .even {
    background: #eaeaff;
}

.customer-table th, td {
    width: 140px;
}

#order-table input[type="text"],
#worker-table input[type="text"]{
    width: 180px;
}