table {
  border-collapse: collapse;
}

th {
    font-weight: bold;
}

th, td {
    text-align: center;
}

td input {
    width: 100%;
}

.customer-table th, td {
    width: 140px;
}

#order-table input[type="text"],
#worker-table input[type="text"]{
    width: 180px;
}

.package-table {
}

.package-table .odd, .package-tr .odd {
    background: #fafaff;
}

.package-table .even, .package-tr .even {
    background: #eaeaff;
}

#order-table {
    width: 100%;
}

#order-table input[type="text"] {
    width: 180px;
}

#worker-table {
    margin: 0 auto;
    width: 70%;
}

#worker-table input[type="text"] {
    width: 140px;
}

.order {
    cursor: pointer;
}

.package-tr {
    display: none;
}

.package-tr table {
    width: 100%;
}