RewriteEngine on

RewriteRule ^\/?$ main

RewriteRule main index.php?task=main&action=index
RewriteRule about index.php?task=main&action=about
RewriteRule find index.php?task=main&action=find

RewriteRule admin index.php?task=admin&action=index
RewriteRule login index.php?task=login&action=login
RewriteRule logout index.php?task=login&action=logout
RewriteRule workers index.php?task=worker&action=show
RewriteRule customers index.php?task=customer&action=show
RewriteRule orders index.php?task=order&action=show
RewriteRule doc index.php?task=admin&action=doc

RewriteRule yourOrders  index.php?task=order&action=showCustomerOrders
RewriteRule yourAccount index.php?task=customer&action=customerInformations
RewriteRule newOrder    index.php?task=order&action=newOrder

RewriteRule acceptOrder index.php?task=order&action=acceptComplain
