RewriteEngine on

RewriteRule ^\/?$ main

RewriteRule main index.php?task=main&action=index
RewriteRule about index.php?task=main&action=about
RewriteRule find index.php?task=main&action=find

RewriteRule admin index.php?task=admin&action=index
RewriteRule login index.php?task=admin&action=login
RewriteRule workers index.php?task=admin&action=workers
RewriteRule customers index.php?task=admin&action=customers